<section class='swiper-centered'>

  <swiper-container
    class='mySwiper'
    slides-per-view='7'
    id='mySwiper'
    centered-slides='true'
    space-between='30'
    grab-cursor='true'
    loop='true'
    autoplay-delay='2500'
    autoplay-disable-on-interaction='false'
  >
    <swiper-slide><img
        src='https://i.postimg.cc/Y9DmsMvh/logo1.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/cHLnhr4p/logo2.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/wBHJtWKT/logo3.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/9fp9yGVP/logo4.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/gkC3pzNh/logo5.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/528LNhRR/logo6.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/ZKB6XBFZ/logo7.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/Y9DmsMvh/logo1.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/cHLnhr4p/logo2.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/wBHJtWKT/logo3.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/9fp9yGVP/logo4.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/gkC3pzNh/logo5.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/528LNhRR/logo6.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/ZKB6XBFZ/logo7.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/ZKB6XBFZ/logo7.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/wBHJtWKT/logo3.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/9fp9yGVP/logo4.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/gkC3pzNh/logo5.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/528LNhRR/logo6.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/ZKB6XBFZ/logo7.png'
      /></swiper-slide>

  </swiper-container>
  <swiper-container
    class='mySwiper-mobile'
    slides-per-view='3'
    id='mySwiper'
    centered-slides='true'
    space-between='30'
    grab-cursor='true'
    loop='true'
    autoplay-delay='2500'
    autoplay-disable-on-interaction='false'
  >
    <swiper-slide><img
        src='https://i.postimg.cc/Y9DmsMvh/logo1.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/cHLnhr4p/logo2.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/wBHJtWKT/logo3.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/9fp9yGVP/logo4.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/gkC3pzNh/logo5.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/528LNhRR/logo6.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/ZKB6XBFZ/logo7.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/Y9DmsMvh/logo1.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/cHLnhr4p/logo2.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/wBHJtWKT/logo3.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/9fp9yGVP/logo4.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/gkC3pzNh/logo5.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/528LNhRR/logo6.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/ZKB6XBFZ/logo7.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/ZKB6XBFZ/logo7.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/wBHJtWKT/logo3.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/9fp9yGVP/logo4.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/gkC3pzNh/logo5.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/528LNhRR/logo6.png'
      /></swiper-slide>
    <swiper-slide><img
        src='https://i.postimg.cc/ZKB6XBFZ/logo7.png'
      /></swiper-slide>

  </swiper-container>
</section>

<div class='f-wrapper container-fluid text-dark border-top'>
  <div class='f-row-bg row px-xl-5 pt-5 justify-content-center'>

    <div class='col-lg-12-col-md-20 col-lg-12 col-md-20'>
      <div class='row container-fluid-footer'>
        <div class='col-md-3 mb-5'>
          <a href='' class='text-decoration-none'>
            <img
              class='img-footer'
              src='https://i.postimg.cc/L8Wrsxvh/pammalogo.png'
            />
          </a>
          <div class='text-center text-lg-right justify-content-start'>
            <div class='footer-social-midia d-flex align-items-center'>
              <a class='text-dark px-3 border' href=''>
                <i class='fab fa-facebook-f'></i>
              </a>
              <a class='text-dark px-3 border' href=''>
                <i class='fab fa-twitter'></i>
              </a>
              <a class='text-dark px-3 border' href=''>
                <i class='fab fa-linkedin-in'></i>
              </a>
              <a class='text-dark px-3 border' href=''>
                <i class='fab fa-instagram'></i>
              </a>
              <a class='text-dark px-3 border' href=''>
                <i class='fab fa-youtube'></i>
              </a>
            </div>
          </div>
          <p class='text-white mb-2'><i
              class='fa fa-map-marker-alt text-white mr-3'
            ></i>123 Faria Lima , SP</p>
          <p class='text-white mb-2'><i
              class='fa fa-envelope text-white mr-3'
            ></i>info@example.com</p>
          <p class='text-white mb-0'><i
              class='fa fa-phone-alt text-white mr-3'
            ></i>+012 345 67890</p>
        </div>
        <div class='col-md-3 mb-5'>
          <h5 class='h5-footer font-weight-bold mb-4'>Institucional</h5>
          <div class='d-flex flex-column justify-content-center'>
            <a
              class='text-white mb-2'
              href='https://www.pammashop.com.br/noindex/additional_info/MLB716835974?new_version=true&modal=false&newIndex=true'
            ><i class='fa fa-angle-right mr-2'></i>Envios</a>
            <a
              class='text-white mb-2'
              href='https://www.pammashop.com.br/noindex/crm/buyer_protection?noIndex=true&itemId=MLB716835974&contextual=true'
            ><i class='fa fa-angle-right mr-2'></i>Compra Garantida</a>
            <a
              class='text-white mb-2'
              href='https://produto.mercadolivre.com.br/noindex/freeReturn/fashion?itemId=MLB716835974&quantity=1&new_version=true&modal=false&controlled=true&_ga=2.55825315.921786367.1644878472-1206511354.1644878472'
            ><i class='fa fa-angle-right mr-2'></i>Trocas e Devoluções</a>
            <a
              class='text-white mb-2'
              href='https://www.pammashop.com.br/p/como-comprar'
            ><i class='fa fa-angle-right mr-2'></i>Como Comprar</a>
            <a
              class='text-white mb-2'
              href='https://www.pammashop.com.br/p/privacidade'
            ><i class='fa fa-angle-right mr-2'></i>Política do Site</a>
            <a
              class='text-white'
              href='https://www.pammashop.com.br/p/privacidade'
            ><i class='fa fa-angle-right mr-2'></i>Políticas de Privacidade</a>
          </div>
        </div>

        <div class='col-md-3 mb-5'>
          <h5 class='h5-footer font-weight-bold mb-4'>Newsletter</h5>
          <form action=''>
            <div class='form-group'>
              <input
                type='text'
                class='form-control-footer form-control py-4'
                placeholder='Nome'
                required='required'
              />
            </div>
            <div class='form-group'>
              <input
                type='email'
                class='form-control-footer form-control py-4'
                placeholder='Email'
                required='required'
              />
            </div>
            <div>
              <button
                class='btn-newsletter btn btn-primary btn-block border-0 py-3 text-white'
                type='submit'
              >Inscreva-se</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class='footer-row-f row border-top py-4'>
    <div class='col-md-6 px-xl-0'>
      <p class='mb-md-0 text-center text-white bold'>
        Desenvolvidor por
        <a class='text-dark font-weight-semi-bold' href='' target='_blank'><img
            class='ecom-labs'
            src='https://i.postimg.cc/G2XFbRHZ/ECOM-LABS.png'
            alt='ecomlabs-logo-png'
          /></a>
      </p>
    </div>
    <div class='col-md-6 px-xl-0 text-center text-md-center'>
      <img
        class='img-fluid'
        src='https://i.postimg.cc/D0ZHN6Cb/selo-security01.png'
        alt='loja segura'
      />
      <img
        class='img-fluid'
        src='https://i.postimg.cc/Y9z2Cywn/payments.png'
        alt='métodos de pagamento'
      />
    </div>
  </div>
</div>
<!-- Back to Top -->
<a href='#' class='btn-back-to-top btn btn-primary back-to-top text-white'><i
    class='fa fa-angle-double-up'
  ></i></a>

<script src='https://code.jquery.com/jquery-3.6.1.min.js'></script>
<script>
  Back to top button window.addEventListener("scroll", function() { if
  (window.scrollY > 100) { document.querySelector(".back-to-top").style.display
  = "block"; } else { document.querySelector(".back-to-top").style.display =
  "none"; } }); document.querySelector(".back-to-top").addEventListener("click",
  function() { window.scrollTo({ top: 0, behavior: "smooth" }); });
</script>

<!-- Global site titanpush (tpush.js) - TITANPush -- v2.1.0a -->
<script>

  if(!window['_WPN']) {
  (function(j,l,p,v,n,t,pu){j['_WPN']=n;j[n]=j[n]||function(){(j[n].q=j[n].q
  ||[]).push(arguments)},j[n].l=1*new
  Date();t=l.createElement(p),pu=l.getElementsByTagName(p)[0];t.async=1;
  t.src=v;pu.parentNode.insertBefore(t,pu);})(window,document,'script',
  'https://d12zyq17vm1xwx.cloudfront.net/v2/wpn.min.js','wpn');
  wpn('initialize', 24581); wpn('checkSubscription'); wpn('pageView'); }
</script>

<!-- JavaScript Libraries -->
<script
  src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js'
></script>
<script
  src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'
></script>
<script src='https://cdn.lordicon.com/ritcuqlt.js'></script>
<script
  src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js'
  integrity='sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN'
  crossorigin='anonymous'
></script>

<!-- Links -->
<link
  href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css'
  rel='stylesheet'
/>
<link
  rel='stylesheet'
  href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'
/>
<link
  rel='stylesheet'
  href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0'
/>
{{! FavIcon }}

<script>

  $(function () { $('link[rel="shortcut icon"]').attr("href",
  "https://i.postimg.cc/XJFfrZ2V/pamma-favicon.png"); $(function () {
  $('link[rel="icon"]').attr("href",
  "https://i.postimg.cc/XJFfrZ2V/pamma-favicon.png"); }); });
</script>
<script>
  new Swiper("#mySyper"){ breakpoints: { 900:{ slides-per-view: 3 } } }
</script>